body {
  background-color: #96c7c1;
}
.App {
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  display: flex;
  justify-content: right;
  font-size: 3.5rem;
}

.fa-circle {
  color: #07a7d3;
  
}

.fa-circle:hover {
  color: orange;
}

.home {
  background-color: #ded9c4;
  border-radius: 1rem;
  height: 85vh;
}

.completed {
  text-decoration: line-through;
}

.delete-btn {
  width: auto;
}

.task-name {
  display: flex;
  align-items: center;
}

.home .row {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.hidden-icon {
  display: none;
}

.mark {
  background-color: #d3e4cd;
  width: 92vw;
  border-radius: 0.5rem;
}

.create-task .row {
  margin-left: 1rem;
}

.close-row {
  width: 70vw;
}

.close-btn  {
  display: grid;
  width: 90vw;
  justify-content: right;
}

.empty-space {
  min-height: 30vh;
  /* min-height: 50% !important; */
}

.profile-pic img {
  border-radius: 50%;
  width: 3rem;
}

